body{
    margin:0;
    padding:0;
}
.song{
    height:100px;
    overflow-y: scroll;
    font-size: larger;
    text-align: center;
   margin-left:auto;
   margin-right:auto;
   scrollbar-width: none;
   line-height: 10px;
   background-color: black;
   color:white;
   width:100%;
} 
.slider-container{
    height:450px;
    width:100%;
    border:2px solid black; 
    background-size: contain ;
    background-repeat: no-repeat;
} 
.slider-container img{
    width:418px;
    height: 450px;
    position: relative;
    z-index:5;
}
.slider-handle{
    height:450px;
    width:100%;
    border:2px solid gold;
    border-radius:40px;
    background-color: gold;    
    position: absolute; 
    z-index:10;
    left:0;
    background-image: url("4th.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} 
.second{
     height:450px;
     width:100%;
}
.second video{ 
    position: relative;
    height:450px;
    width:100%;
    z-index:10;
}
.main{
    position: absolute;
    left:0;
    z-index:15;
    height:450px;
    width:100%;
}
.main img{
    width:100%;
    height: 450px;
}

